@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  --contentFont: "Inter";
  --headlineFont: "Manrope" ;
}

:root[data-theme=light] {
  color-scheme: light;
  font-size: 14px;
  /* Surface Colors */
  --surface: hsl(225, 100%, 98%);
  --surface-dim: hsl(213, 62%, 87%);
  --surface-bright: hsl(225, 100%, 98%);
  --surface-container-lowest: hsl(0, 0%, 100%);
  --surface-container-low: hsl(216, 100%, 96%);
  --surface-container: hsl(216, 100%, 94%);
  --surface-container-high: hsl(216, 100%, 92%);
  --surface-container-highest: hsl(216, 100%, 90%);
  /* Brand & Accents */
  --primary: hsl(130, 23%, 40%);
  --on-primary: hsl(0, 0%, 100%);
  --primary-container: hsl(130, 30%, 85%);
  --on-primary-container: hsl(130, 40%, 15%);
  --secondary: hsl(15, 90%, 75%); /* Muted Terracotta */
  --on-secondary: hsl(15, 100%, 15%);
  --tertiary: hsl(247, 95%, 80%); /* Soft Lavender */
  --on-tertiary: hsl(247, 50%, 20%);
  --quaternary: hsl(45, 50%, 95%); /* Warm Sand */
  --on-quaternary: hsl(45, 40%, 15%);
  /* Neutral/Text */
  --on-surface: hsl(225, 30%, 10%);
  --on-surface-variant: hsl(225, 10%, 40%);
  --outline: hsl(225, 10%, 60%);
  --outline-variant: hsl(225, 10%, 85%);
}

:root {
  color-scheme: dark;
  font-size: 13px;
  /* Surface Colors */
  --surface: hsl(210, 10%, 8%);
  --surface-dim: hsl(210, 10%, 8%);
  --surface-bright: hsl(210, 4%, 23%);
  --surface-container-lowest: hsl(210, 17%, 5%);
  --surface-container-low: hsl(210, 8%, 11%);
  --surface-container: hsl(210, 8%, 14%);
  --surface-container-high: hsl(210, 8%, 17%);
  --surface-container-highest: hsl(210, 8%, 20%);
  /* Brand & Accents */
  --primary: hsl(127, 21%, 61%);
  --on-primary: hsl(127, 25%, 10%);
  --primary-container: hsl(127, 15%, 25%);
  --on-primary-container: hsl(127, 30%, 85%);
  --secondary: hsl(15, 60%, 64%); /* Muted Terracotta */
  --on-secondary: hsl(15, 70%, 10%);
  --tertiary: hsl(247, 95%, 80%); /* Soft Lavender */
  --on-tertiary: hsl(247, 40%, 15%);
  --quaternary: hsl(45, 40%, 94%); /* Warm Sand */
  --on-quaternary: hsl(45, 20%, 15%);
  /* Neutral/Text */
  --on-surface: hsl(210, 5%, 90%);
  --on-surface-variant: hsl(210, 5%, 70%);
  --outline: hsl(210, 5%, 40%);
  --outline-variant: hsl(210, 5%, 25%);
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  font-family: var(--contentFont);
  background-color: var(--surface);
  color: var(--on-surface);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.1rem;
}

header {
  width: 100%;
  padding: 1rem;
  background-color: var(--surface-bright);
  color: var(--primary);
}
header #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
  line-height: 1.6rem;
}
main a {
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
main a:hover {
  text-decoration: underline wavy;
}
main .circle {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  position: absolute;
  z-index: -99;
}
main .square {
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  position: absolute;
  z-index: -99;
}
main .green-circle {
  background-color: var(--primary);
  top: 7rem;
  left: 5rem;
}
main .red-square {
  background-color: var(--secondary);
  top: 15rem;
  right: 5rem;
}
main #welcome {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 2rem;
  background: rgba(from var(--primary-container) r g b/0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  border: 1px solid var(--on-surface);
}
main #welcome a {
  color: var(--tertiary);
}
main #welcome a:hover {
  color: var(--on-primary-container);
}
main .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
main #subjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 1rem;
}
main #subjects .subject {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  background: rgba(from var(--outline-variant) r g b/0.4);
}
main #subjects .subject .subject-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
}
main #subjects .subject .subject-head .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
}
main #subjects .subject .subject-head .icon span {
  padding: 0.4rem;
  color: var(--on-primary-container);
  background: rgba(from var(--primary-container) r g b/0.9);
  border-radius: 1rem;
  font-size: 2.5rem;
}
main #subjects .subject .subject-head .coeff {
  padding: 0.4rem;
  background: rgba(from var(--primary) r g b/0.2);
  border-radius: 0.5rem;
}
main #qcms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
main #qcms .qcm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  background: rgba(from var(--outline-variant) r g b/0.4);
}
main #qcms .qcm .qcm-head {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 0.4rem;
  width: 100%;
}
main #qcms .qcm .qcm-head .cover {
  color: var(--on-primary-container);
  background: rgba(from var(--primary-container) r g b/0.9);
  border-radius: 1rem;
}
main #qcms .qcm .qcm-head .cover span {
  padding: 1rem;
  font-size: 2rem;
}
main #qcms .qcm .qcm-head .deets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}
main #qcms .qcm .qcm-head .deets p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
main #qcms .qcm .qcm-link {
  text-align: center;
  width: 100%;
  background: rgba(from var(--primary-container) r g b/0.9);
  border-radius: 1rem;
  padding: 1rem;
}
main #qcms .qcm .qcm-link a {
  width: 100%;
}
main #td-tp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
main #td-tp .info-sect {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  background: rgba(from var(--outline-variant) r g b/0.4);
}
main #td-tp .info-sect .sect-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1rem;
}
main #section-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main #section-nav a {
  text-decoration: none;
}
main #section-nav .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
  background: rgba(from var(--outline-variant) r g b/0.4);
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 1px solid var(--outline);
}
main #section-nav .nav-item:hover {
  background: rgba(from var(--surface) r g b/0.4);
}
main #drives {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
main #drives .drive-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  background: rgba(from var(--outline-variant) r g b/0.4);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--outline);
}
main #drives .drive-link .drive-icon {
  background: rgba(from var(--primary) r g b/0.4);
  color: hsl(from var(--on-surface) h s l);
  border-radius: 100%;
}
main #drives .drive-link .drive-icon span {
  padding: 1rem;
  font-size: 2rem;
}
main #drives .drive-link .drive-deets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.1rem;
}
main #drives .drive-link .drive-deets a {
  text-decoration: none;
  font-size: 1.35rem;
}
main #drives .drive-link .drive-deets a:hover {
  color: var(--on-surface-variant);
}
main #yt-channels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
main #yt-channels .channel {
  border-radius: 1rem;
  background: rgba(from var(--outline-variant) r g b/0.4);
}
main #yt-channels .channel .channel-image {
  border-radius: 1rem;
  background: linear-gradient(360deg, var(--surface), rgba(255, 255, 255, 0.0666666667));
}
main #yt-channels .channel .channel-image img {
  position: relative;
  z-index: -1;
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}
main #yt-channels .channel .channel-deets h3 {
  font-size: 1.5rem;
}
main #yt-channels .channel .channel-deets {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
main #ai-tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
main #ai-tools .ai-tool {
  width: 100%;
  background: rgba(from var(--outline-variant) r g b/0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}
main #influencers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
main #influencers .influencer {
  width: 100%;
  background: rgba(from var(--outline-variant) r g b/0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}
main #influencers .influencer .deets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 1rem;
}
main #influencers .influencer a {
  font-size: 1.6rem;
}
main #influencers .influencer .image {
  width: 5rem;
}
main #influencers .influencer .image img {
  width: 100%;
  border-radius: 100%;
}

footer {
  position: sticky;
  z-index: 999 !important;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  background-color: var(--surface-container);
  padding: 1rem;
  margin-top: 3rem;
}
footer a {
  color: var(--on-surface);
}
footer a:hover {
  color: var(--on-surface-variant);
}
footer nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
footer nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 2rem;
}
footer nav .nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
footer nav .nav-item a span {
  font-size: 1.6rem;
}
footer nav .nav-item.active {
  color: var(--on-primary-container);
  background: rgba(from var(--primary-container) r g b/0.9);
  padding: 1rem;
}

/*# sourceMappingURL=index.css.map */
